#index {
  color: #d3d6dd;
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left top;
  overflow: hidden;
  
  .bg {
    width: 100%;
    height: 100%;
    padding: 0 52px;
    background-image: url("../assets/pageBg.png");
    background-size: cover;
    background-position: center center;
  }

  .host-body {
    &>.titleBox {
      height: 73px;
      .icon {
        width: 140px;
        background: url("../assets/icon.png") 0 50% no-repeat;
        margin-right: 10px;
      }
      .title {
        position: relative;
        height: 73px;
        line-height: 73px;
        text-align: left;
        .title-text {
          font-size: 26px;
          font-family: "zihun143-zhengkuchaojihei";
        }
      }
      .text {
        height: 80px;
        line-height: 80px;
        text-align: left;
        font-size: 30px;
        text-align: right;
      }
    }
    .body-box {
      position: relative;
      .left-box {
        width: 30%;
        height: 966px;
        position: absolute;
        padding: 20px;
      }
    }
  }
}
